<block-ui>
  <div class="container">
    <h3 class="text-center Register_heading">REGISTRATION OF CITIZENSHIP UNDER SECTION 3</h3> 
    <div class="Register_Formone section1" *ngIf="section1">
      <div class="row">
          <div class="col-lg-12 col-sm-12">
              <div class="section-card">
                  <div class="section-body p-3">
                      <div class="row">
                          <div class="col-lg-4 col-sm-12">
                              <div class="form-group register_form_inline">
                                  <label>Last Name</label>
                                  <input type="text" name="" class="form-control ">
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-12">
                              <div class="form-group register_form_inline">
                                  <label>Middle Name</label>
                                  <input type="text" name="" class="form-control">
                              </div>
                          </div> 
                          <div class="col-lg-4 col-sm-12">
                              <div class="form-group register_form_inline">
                                  <label>First Name</label>
                                  <input type="text" name="" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                              <div class="form-group register_form_inline">
                                  <label>Date of Birth</label>
                                  <input class="form-control" type="date">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Place of Birth</label>                               
                                  <select class="form-control" id="inputGroupSelect01">
                                      <option  selected>Select City</option>
                                      <option>New value 1</option>
                                      <option>New value 2</option>
                                      <option>New value 3</option>
                                  </select>
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Gender</label>
                                  <div class="gender-block form-check form-check-inline register_check_inline checkbox-theme p-l-0 text-left ">
                                      <input class="form-check-input" name="gender" type="radio" value="gender" id="Male">
                                      <label class="form-check-label" for="Male">MALE</label>
                                  </div>
                                  <div class="gender-block form-check form-check-inline register_check_inline checkbox-theme p-l-0 text-left ">
                                      <input class="form-check-input" name="gender" type="radio" value="gender" id="Female">
                                      <label class="form-check-label" for="Female">FEMALE</label>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                              <div class="form-group register_form_inline">
                                  <label>Address</label>
                                  <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Telephone Number</label>
                                  <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Email Address</label>
                                  <input type="text" name="" class="form-control">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="border"></div>
                  <h4 class="p-2 my-0 text-center">Family Information</h4>
                  <div class="section-body p-3">
                      <div class="row">
                          <div class="col-lg-6 col-sm-12">
                              <h5 class="text-center p-2">Father</h5>
                              <div class="form-group register_form_inline">
                                  <label>Last Name</label>
                                  <input type="text" name="" class="form-control ">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Middle Name</label>
                                  <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>First Name</label>
                                  <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Date of Birth</label>
                                  <input class="form-control" type="date">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Place of Birth</label>  
                                  <input type="text" name="" class="form-control">                             
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Country of Birth</label>
                                  <select class="form-control" id="inputGroupSelect01">
                                      <option  selected>Select City</option>
                                      <option>New value 1</option>
                                      <option>New value 2</option>
                                      <option>New value 3</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                              <h5 class="text-center p-2">Spouse Information</h5>
                              <div class="form-group register_form_inline">
                                  <label>Marital Status</label>
                                  <select class="form-control" id="inputGroupSelect01">
                                      <option  selected>Status</option>
                                      <option>New value 1</option>
                                      <option>New value 2</option>
                                      <option>New value 3</option>
                                  </select>
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Last Name</label>
                                  <input type="text" name="" class="form-control ">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>First Name</label>
                                  <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Date of Birth</label>
                                  <input class="form-control" type="date">
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Place of Birth</label>  
                                  <input type="text" name="" class="form-control">                             
                              </div>
                              <div class="form-group register_form_inline">
                                  <label>Country of Birth</label>
                                  <select class="form-control" id="inputGroupSelect01">
                                      <option  selected>Select City</option>
                                      <option>New value 1</option>
                                      <option>New value 2</option>
                                      <option>New value 3</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="p-4 text-right">
                  <button class="btn btn-theme" (click)="showsection2()">Next</button>
              </div>
          </div>
      </div>
  </div>
  <div class="Register_formtwo section2" *ngIf="section2">
    <div class="row">                    
        <div class="col-lg-12 col-sm-12">
            <div class="section-card">
                <div class="card-header">
                    <h3 class="section-title">Section 2</h3>
                </div>
                <h6 class="p-2 my-0"><b>Select Which Applies To You</b></h6>
                <div class="section-body p-3 text-size">
                    <div class="Iam_text">I am </div>
                    <div class="custom-control custom-radio">                            
                        <input type="radio" class="custom-control-input" id="(a)" name="example1" value="customEx">
                        <label class="custom-control-label" for="(a)">
                            <span>(a) A citizen of the following countries as mentioned in the first sechedule to the Jamaica Nationality Act, 1962 that is to say</span>                          
                        </label>
                        <select class="form-control select_space" id="inputGroupSelect01">
                            <option  selected>Select Country</option>
                            <option>Country1</option>
                            <option>Country2</option>
                            <option>Country3</option>
                        </select>

                    </div>
                    <div class="custom-control custom-radio radio-control">                            
                        <input type="radio" class="custom-control-input" id="(b)" name="example1" value="customEx">
                        <label class="custom-control-label" for="(b)">
                            <span>(b) a citizen of the Republic of Ireland</span>                          
                        </label>

                    </div>
                </div>
            </div>
            <div class="section-card mb-nonelayer">
                <div class="card-header">
                    <h3 class="section-title">Section 3</h3>
                </div>
                <h6 class="p-3 my-0 paragraph">I have been ordinarily resident in Jamaica or have been in the Crown Service under the do not apply. Government of Jamaica or partly the one and party the other for a period of five years Either or both of ending with the date of this application. </h6>
                <div class="border"></div>

                <h6 class="p-3 my-0"><b>Details Of Residence</b></h6>

                <div class="section-body p-3 font_14">
                    <div class="table-responsive">
                        <table class="table section3_table">
                            <thead>
                                <tr class="postal_address_block">
                                    <td><label>Full Postal Address in Jamaica</label></td>
                                    <td><label>From Date</label></td>
                                    <td><label>To Date</label></td>
                                    <td><label>Years</label></td>
                                    <td><label>Months</label></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="postal_address_block">
                                    <td>
                                        <span>1. &nbsp;</span>
                                        <input type="text" class="form-control" name="">
                                    </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input type="text" name="" class="form-control"></td>
                                    <td><input type="text" name="" class="form-control"></td>
                                </tr>
                                <tr class="postal_address_block">
                                    <td>
                                        <span>2. &nbsp;</span>
                                        <input type="text" class="form-control" name="">
                                    </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input type="text" name="" class="form-control"></td>
                                    <td><input type="text" name="" class="form-control"></td>
                                </tr>
                                <tr class="postal_address_block">
                                    <td>
                                        <span>3. &nbsp;</span>
                                        <input type="text" class="form-control" name="">
                                    </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input type="text" name="" class="form-control"></td>
                                    <td><input type="text" name="" class="form-control"></td>
                                </tr>
                                <tr class="postal_address_block">
                                    <td>
                                        <span>4. &nbsp;</span>
                                        <input type="text" class="form-control" name="">
                                    </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input type="text" name="" class="form-control"></td>
                                    <td><input type="text" name="" class="form-control"></td>
                                </tr>
                                <tr class="postal_address_block">
                                    <td>
                                        <span>5. &nbsp;</span>
                                        <input type="text" class="form-control" name="">
                                    </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input class="form-control" type="date" > </td>
                                    <td><input type="text" name="" class="form-control"></td>
                                    <td><input type="text" name="" class="form-control"></td>
                                </tr>
                                <tr class="postal_address_block">
                                    <td colspan="4">
                                        <label>Total Residence</label>
                                        <input type="text" name="" class="form-control postal_block"><span>Years</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="p-4 text-right">
                <button class="btn btn-theme">Back</button>
                <button class="btn btn-theme" (click)="showsection3()">Next</button>
            </div>
        </div>
    </div>
</div>
<div class="Register_formthree section3" *ngIf="section3">
  <div class="row">
      <div class="col-lg-12 col-sm-12">
          <div class="section-card">
              <div class="card-header">
                  <h3 class="section-title">Section 4</h3>
              </div>
              <h6 class="p-2 my-0"><b>Details Of Crown Service</b></h6>
              <div class="section-body p-3 font_14">
                  <div class="table-responsive">
                      <table class="table section4_table">
                          <thead>
                              <tr class="crown_service_block">
                                  <td><label>Details Of Crown Service Government Department by</label></td>
                                  <td><label>Capacity in which Employed</label></td>
                                  <td><label>From Date</label></td>
                                  <td><label>To Date</label></td>
                                  <td><label>Years</label></td>
                                  <td><label>Months</label></td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="crown_service_block">
                                  <td>
                                      <span>1. &nbsp;</span>
                                      <input type="text" class="form-control" name="">
                                  </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input type="text" name="" class="form-control"></td>
                              </tr>
                              <tr class="crown_service_block">
                                  <td>
                                      <span>2. &nbsp;</span>
                                      <input type="text" class="form-control" name="">
                                  </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input type="text" name="" class="form-control"></td>
                              </tr>
                              <tr class="crown_service_block">
                                  <td>
                                      <span>3. &nbsp;</span>
                                      <input type="text" class="form-control" name="">
                                  </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input type="text" name="" class="form-control"></td>
                              </tr>
                              <tr class="crown_service_block">
                                  <td>
                                      <span>4. &nbsp;</span>
                                      <input type="text" class="form-control" name="">
                                  </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input type="text" name="" class="form-control"></td>
                              </tr>
                              <tr class="crown_service_block">
                                  <td>
                                      <span>5. &nbsp;</span>
                                      <input type="text" class="form-control" name="">
                                  </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input class="form-control" type="date" > </td>
                                  <td><input type="text" name="" class="form-control"></td>
                                  <td><input type="text" name="" class="form-control"></td>
                              </tr>
                              <tr class="crown_service_block">
                                  <td colspan="4">
                                      <label>Total Residence</label>
                                      <input type="text" name="" class="form-control years_block"><span>Years</span>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="section-card mb-nonelayer">
              <div class="card-header">
                  <h3 class="section-title">Section 6</h3>
              </div>
              <div class="section-body p-3">
                  <div class="row">
                      <div class="col-lg-6 col-sm-12 citizen_block">
                         <div class="br-1">
                            <div class="form-check checkbox-theme p-l-0 text-left ">
                              <input class="form-check-input" type="checkbox" value="" id="citizen">
                              <label class="form-check-label" for="citizen">
                                  <p>I have previously renounced or been deprived of citizenship of Which do not apply. Jamaica.
                                  </p> 
                              </label>

                          </div>
                      </div>
                      <div class="crown_service_block m_l">
                          <label>Date of Renunciation</label>
                          <input type="date" name="" class="form-control crown_block">
                      </div>
                  </div>

                  <div class="col-lg-6 col-sm-12 citizen_block">
                     <div class="br-1">
                        <div class="form-check checkbox-theme p-l-0 text-left ">
                          <input class="form-check-input" type="checkbox" value="" id="citiz">
                          <label class="form-check-label" for="citiz">
                              <p>I do solemnly and sincerely declare that the foregoing particulars stated in this application are true, and I make this solemn declaration conscientiously believing the same to be true.
                              </p> 
                          </label>

                      </div>
                  </div>
                  <div class="crown_service_block m_l">
                      <label>Date of Declaration</label>
                      <input type="date" name="" class="form-control crown_block">
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="p-4 text-right">
      <button class="btn btn-theme">Back</button>
      <button class="btn btn-theme">Next</button>
  </div>
</div>
</div>
</div>
    </div>
</block-ui>
