
h3.Register_head{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    font-size: 22px;
}
.Register_formtwo .section-card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 0 30px 0 rgba(115, 77, 191, 0.2);
    border-radius: 7px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    color:#000000;
}
.Register_formtwo .section-card.mb-nonelayer{
    margin-bottom: 1px;
    box-shadow: 0 0px 30px 0 rgba(115, 77, 191, 0.2);
}
.Register_formtwo .section-card .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.Register_formtwo .section-card .card-header {
    background: none;
    padding: 0.5rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    border-left: 2px solid #02a94f;
    border-bottom: 1px solid rgba(107,122,144,0.1);
}
.Register_formtwo .section-card .card-header .section-title{
    font-size: 1.185rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
.register_form_inline label{
    width: 35%;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    
}
.valign-top{
    vertical-align: top !important;
}
.br-1{
    border-right:2px dashed #ced4da;
}
.bm-1{
    border: 1px solid #ccc;
    width: 98%;
    margin-bottom: 10px !important;
    margin: auto;
}
.register_form_inline .form-control{
    display: inline-block;
    width: 58%;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #02a94f;
    outline: 0;
    box-shadow: 0 0 10px -1px #ccc;
}
select{
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border-radius: 5px;
    height: 34px;
     background: url(../../../assets/images/down.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 97%;
    background-size: 17px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    width: 22px;
    height: 22px;
    background-size: 23px;
    background-position-x: 97%;
}
.btn.btn-theme {
    background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    border: none;
    color: #fff;
    padding: 6px 50px;
    box-shadow: 0px 0px 5px -2px #333;
}
.btn.btn-theme:hover {
    background: #fff;
    color: #0F2027;
}
.form-group .form-control{
    font-size: 14px;
}
.btns-bglayer{
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(115, 77, 191, 0.2);
    border-radius: 7px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 12px;
}
.paragraph{
    font-size: 14px;
    width: 90%;
}
.border{
    width: 96%;
    margin: auto;
}
.section3_table .postal_address_block th{
    border:none;
    text-align: center;
    padding: 8px;
}
.section3_table .postal_address_block td{
    border:none;
    padding: 8px;
}
.section3_table .postal_address_block td input{
    width: 90%;
    display: inline-block;
    font-size:14px;
    color:#000000;
}
.section3_table .postal_address_block td:nth-child(1){
    width: 448px;
}
.section3_table .postal_address_block td:nth-child(2){
    width: 100px;
}
.section3_table .postal_address_block td:nth-child(3){
    width: 100px;
}
.section3_table .postal_address_block td:nth-child(4){
    width: 100px;
}
.section3_table .postal_address_block td:nth-child(5){
    width: 100px;
}
.postal_address_block .form-control.postal_block{
    width: 10% !important;
    display: inline-block;
    margin-right: 10px;
    margin: 0 15px;
}
.Iam_text{
    display: inline-block;
}
.text-size{
    font-size: 14px;
}
.select_space{
    width: 15%;
    display: inline-block;
    font-size:14px;
    color:#000000;
}
.custom-control {
    position: relative;
    display: inline;
    min-height: 1.5rem;
    margin-left:10px;
    padding-left: 1.5rem;
}
.radio-control {
    position: relative;
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-left: 35px;
}
.font_14{
    font-size:14px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #1a9333;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #353637;
    color: #fff;
    font-size: 13px;
}
.footer span:nth-child(2){
    float: right;
    text-align: right;
}

.footer span a{
    color: #fff;
}

@media (max-width: 992px) {
    .header{
        min-height: 65px;
    }
    body{

        margin-bottom: 100px; 
    }
    footer{
        min-height: 100px;
    }
    .radio-control{
        display:block;
    }
    .select_space {
        width: 50%;
    }
}