<div class="Woman_Mrg_formfive">
    <div class="container">
        <div class="row pad-0">
            <div class="col-md-12 Woman_Mrg_form_box">             
                <h5 class="text-success">You have successfully uploaded your application and supporting documents.</h5>
                <p>Thank you for submitting an application for Citizenship by Descent. 
                    Your application number is <strong>010100</strong> which may be used to track the progress of your application. Your application and supporting document will be reviewed and an email update provided to you within
                5 working days. This email will outline the status of your application </p> 
                <div class="text-center">
                    <button class="btn btn-theme" (click)="home()">Continue</button>
                </div>               
            </div>

        </div>
    </div>
</div>
