<div class="wrapper">
    <!------------------------HEADER-->
    
  
  <div id="innerPage">
    <!------------------------BANNER-->
    <div class="banner_wrapper">
      <div class="banner_image">
        <ul class="bsxlider">
          <li><img src="assets/images/main_banner.jpg"/></li>
        </ul>
      </div>
  
      <div class="banner_text">
        <div class="main_content">
          <ul class="actionBlock">
            <li><a routerLink='/createProfile'> <img alt="action_start" src="assets/images/action_start.png"/></a></li>
            <li><a routerLink='/login'><img alt="action_resume" src="assets/images/action_resume.png"/></a></li>
            <li><a routerLink="/status"><img alt="action_status" src="assets/images/action_status.png"/></a></li>
          </ul>
  
          <div class="advert_text">
            <div class="advert_text_top">
            <h5>INTRODUCING the NEWEST <br />most convenient way to <br />Apply <span>for <br />Jamaican Citizenship</span></h5>
  
            </div>
  
            <div class="fliptxteffect" href="#">
              <span>APPLY ONLINE </span>TODAY
              <i class="fa fa-chevron-circle-right"></i>
            </div>
            <div class="fliptxteffect_sec2">
              <a class="help_links photo_check" alt="photo_check" href="#photo-check">Photo Checker</a>  |  <a class="help_links fee_calc" alt="fee_calc" href="#fee-calc">Fee Calculator</a>
            </div>
          </div>
  
        </div>
      </div><!-- #main_content -->
    </div>
  
    
  
  <!------------------------FOOTER-->
  <div class="footer">
  <div class="main_content">
    
    <!-- <div class="footer_right right">
      <img src="images/secure_visa_mastercard.jpg"/>
    </div> -->
    <div class="clear"></div>
    
  </div><!---main_content-->
  </div>
  <!------------------------QUESTION-->
  <div class="question">
      <div class="main_content">
        <h5><span>frequently</span> asked question</h5>
        
        <div class="question_description">
          <ul>
            <li>
              <h5>What do I need to renew my Jamaican Passport Online?</h5>
              <p class="active">You will require the following:<br />
                <span >
                &mdash; A working computer with internet access.<br />
                &mdash; A Web Browser. (<em>Internet Explorer between versions 9 and 11, Chrome version 54.0.2840.99</em>)<br />
                &mdash; Your current passport<br />
                &mdash; A digital passport size photograph stored on computer<br />
                &mdash; A valid Master or Visa card for payment<br />
                &mdash; A <strong>VALID</strong> and <strong>WORKING EMAIL ADDRESS</strong> to receive system-generated messages.<br />
                &mdash; A Portable Data Format (PDF) reader<br />
                &mdash; A working printer to view and print the system-generated application form in A4-size paper (You may print your application and submit same at any PICA Office in Jamaica)<br /></span>
              </p>
            </li>
            <li class="ask">
              <h5>Will I require my Birth Certificate to apply Online?</h5>
              <p>You will require information from one of the documents listed below to complete your Online Renewal application. Please ensure that you have the document that applies to you before you start your application.
              <span style="margin-left:20px;display: block;"></span>
                <!-- &check; Jamaican Birth Certificate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 	(for persons born in Jamaica)<br />
                &check; Jamaican Adoption Certificate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -  	(for persons adopted in Jamaica)<br />
                &check; Jamaican Citizenship Certificate &nbsp;&nbsp;&nbsp;&nbsp; - 	(for persons who acquire citizenship other than 							birth or adoption). -->
              <!-- </span> -->
              </p>
            </li>
            <li class="ask">
              <h5>I do not have an email address, what should I do?</h5>
              <p>A valid and working email address is very important when renewing your Jamaican passport online. &nbsp;If you do not have an email address, you may subscribe to any free email service like <em>Yahoo!</em> or <em>Gmail</em> for an email account. Please ensure that you activate your email account prior to using the Online Passport System. PICA will use your email address to send to you pertinent information regarding your application. It may also be used to communicate with you the status of your application and to seek further clarification where necessary about your application.</p>
            </li>							
            <li class="ask">
              <h5>How can I check if my photograph is acceptable?</h5>
              <p>
              We recommend that you use a professional photographer to take your picture. The picture should be saved by the photographer on a USB drive or send to you via email. You will need to then save the photograph in JPEG format to your computer. After which you may visit our online application home page and use our <a class="help_links photo_check" alt="photo_check" href="#photo-check">photo checker</a> to test if your picture is acceptable. It may be wise to have the photographer test the picture using our Photo tool before you leave the studio.
              </p>
            </li>
            <li class="ask">
              <h5>Can I apply online if I reported my passport lost?</h5>
              <p>
              Sorry, if you have lost your passport you will need to visit one of our offices or the nearest Jamaican Embassy, Consulate or High Commission to submit your application. You may visit our main website, <a href="http://www.pica.gov.jm">www.pica.gov.jm</a> to obtain the application form.
              </p>
            </li>
            <li class="ask">
              <h5>MY children are 10 and 15 years respectively, can I renew their passports online?</h5>
              <p>
              Sorry, at this time only the persons renewing a previously issued adult passport can apply online. You will need to visit one of our offices or the nearest Jamaican Embassy, Consulate or High Commission to submit your application. You may obtain the application form on our main website <a href="http://www.pica.gov.jm">www.pica.gov.jm</a>.
              </p>
            </li>
            
            <span style="cursor:pointer;font-weight:bold;color:#1184c3;" onclick="document.getElementById('morefaqs').style.display='block';document.getElementById('addfaqlink').remove();" id="addfaqlink">view more FAQs</span>
            <div style="display:none;" id="morefaqs">
            
              <li class="ask">
                <h5>Can I apply for a Diplomatic or Official passport online?</h5>
                <p>
                Diplomatic and Official passports are given to Government Officials or Jamaican citizens who represent Jamaica in a Diplomatic or Official capacity. Applications for these passports must be submitted to the office of the Permanent Secretary for the Ministry of National Security, with a request letter indicating your Diplomatic or Official designation. At this time you will not be able to apply for a diplomatic or official passport via our online application.
                </p>
              </li>							
              
              <li class="ask">
                <h5>I received my current passport in October 2001 and it has now expired, can I renew it online?</h5>
                <p>
                Yes, you may renew your passport online if you were an adult when you received your passport. Jamaica began issuing Machine Readable passports in September 2001. All persons who received an adult passport after September 2001 can renew their passport online, providing the passport has expired or will expire in less than 1 year.
                </p>
              </li>
              <li class="ask">
                <h5>I have a handwritten blue passport which I received before September 2001. Can I renew this passport online?</h5>
                <p>
                Unfortunately you will not be able to renew your passport online. Only Adult Jamaican passports issued after September 2001 can be renewed online. You should visit a PICA Office or Jamaican Overseas Consulate/Embassy/Mission to renew your Handwritten Blue passport. You may obtain the application form and requirements from our main website, <a href="http://www.pica.gov.jm">www.pica.gov.jm</a>.
                </p>
              </li>
              <li class="ask">
                <h5>My passport will expire in the next two (2) years can I renew it online?</h5>
                <p>
                Sorry, you will not be able to renew your passport online. PICA will only allow renewals for passports that are expired or will expire in one year. If you have a special need that requires a passport with a validity of more than 1 year you may visit one of our offices or contact our customer care centre (876-754-PICA) where a customer service agent will provide guidance.
                </p>
              </li>
              <li class="ask">
                <h5>Will I be required to pay online for my application, and what is the cost?</h5>
                <p>
                Yes, you will be required to pay using a VISA or Master Card. This is the only method of payment that is currently available. The fees will vary based on your location. You may check the fee for your location by using our <a class="help_links fee_calc" alt="fee_calc" href="#fee-calc">Cost Checker</a> on the home page.
                </p>
              </li>
              <li class="ask">
                <h5>What should I do if I am not able to pay for my online application?</h5>
                <p>
                If you are not able to complete payment for your online application, you should print your application and visit a PICA office in Jamaica or the nearest Jamaican overseas Consulate/Mission/Embassy to complete the application process. Please note that the various Jamaican Consulates/Missions/Embassies may apply a Consular fee for the processing of your application. This fee is in addition to the passport fee. You may check the passport fee by using the online application <a class="help_links fee_calc" alt="fee_calc" href="#fee-calc">Cost Checker</a>.
                </p>
              </li>
              
              <li class="ask">
                <h5>What documents will I need to take in to your office if I did not complete the payment of my online application?</h5>
                <p>
                Once you are exiting your online application without completing payment, you should send a copy of the application to your email. You can then print the application on letter size (A4) paper. <strong>Please ensure that you print all the attachments from your email</strong>. Once you have the printed application, you will also be required to present the following on your arrival at our offices:<br /><br />
                  <span style="margin-left:20px;display: block;">
                    &mdash; Your current passport<br />
                    &mdash; Two (2) professionally produced passport size photographs<br />
                    &mdash; The application processing fees and any applicable consular fees (overseas applicants).<br />
                  </span>
                </p>
              </li>
              <li class="ask">
                <h5>I started my online application but I could not complete the application and was not able to send it to my email for printing. What should I do?</h5>
                <p>
                If you started your application in the last five (5) business days, you may resume your application at any time by using the resume button on the online application home page. If however you started your application more than five days ago you will need to contact our customer care centre at (876-754-PICA) for assistance with your application.
                </p>
              </li>
              <li class="ask">
                <h5>How will I get my new passport if I submit my application Online?</h5>
                <p>
                You will be able to collect your passport in Jamaica at a PICA office or you can opt to have your passport delivered to your address. During the online application process you will be asked to indicate the preferred option.
                </p>
              </li>
              <li class="ask">
                <h5>How soon will I get my passport if I apply online?</h5>
                <p>
                Our fastest online service is three (3) business days. This service is an expedited service and is only available if you wish to pick up your passport at a PICA office in Jamaica. 
                </p>
              </li>
              <li class="ask">
                <h5>What is the quickest service if I am overseas and renewing  my passport online?</h5>
                <p>
                If you are applying from overseas your passport will be delivered to the mailing address provided at the time of your application via a secured courier service. The standard delivery time is 20 business days after payment, however PICA is committed to ensuring that your passport is delivered in the shortest possible time; as such, sometimes delivery may be in less than 20 business days. You may monitor at any time the status of your application by using the <a href="#CheckStatus">Status Checker</a> on the online application Home Page.
                </p>
              </li>
              <li class="ask">
                <h5>If I am in Jamaica and I apply online for my passport, can I opt to have my passport delivered by courier?</h5>
                <p>
                Yes, during the online application process you will be asked to indicate if you wish to have your passport delivered to the mailing address provided at the time of your application. If your Mailing address is in Jamaica your passport will be delivered within seven (7) business days.
                </p>
              </li>
              <li class="ask">
                <h5>Will I be charged a delivery fee, ifI apply online and opt to have my passport delivered?</h5>
                <p>
                Yes, you will be charged a delivery fee based on the location of your mailing address. You may check the delivery fee relevant to your location by using the <a class="help_links fee_calc" alt="fee_calc" href="#fee-calc">Cost Checker</a> on the online application Home Page.
                </p>
              </li>
              <li class="ask" style="display:block">
                <h5>I wish to apply online for regular service and pick up my passport at a PICA office in Jamaica. How soon after applying should I pick-up?</h5>
                <p>
                If you apply to renew your passport online using regular service, the pick-up times will vary based on the PICA office selected. Please note that you can only pick-up at the PICA office selected at the time of completing your online application.The pick-up times for the various locations are as follows:<br /><br />
                <strong><span style="display:block;width:500px;float:left;border-bottom:1px solid #b9b9b9;">PICA Office</span><span style="display:block;border-bottom:1px solid #b9b9b9;">Days for pick-up</span></strong>
                <span style="display:block;float:left;width:500px;">Kingston Head Office (25C Constant Spring Road)</span><span>Seven (7) business days</span><br />
                <span style="display:block;float:left;width:500px;">Montego Bay (Overton Plaza)</span> <span>Fourteen (14) business days</span><br />
                <span style="display:block;float:left;width:500px;">Mandeville  (RGD Office)</span> <span>Fourteen (14) business days</span><br />
                <span style="display:block;float:left;width:500px;">Portmore (Tax Office)</span> <span>Eleven (11) business days</span><br />
                <span style="display:block;float:left;width:500px;">May Pen (Tax Office)</span> <span>Fourteen (14) business days</span><br />
                <span style="display:block;float:left;width:500px;">ST Ann’s Bay (Post Office)</span> <span>Fourteen (14) business Days</span><br />
                </p>
              </li>
              <li class="ask">
                <h5>What documents will I need to pick-up my passport?</h5>
                <p>
                You should print your payment receipt or application and take it along with your current passport. Your payment receipt and application was emailed to the email address provided at the time of your application.
                </p>
              </li>
              <li class="ask">
                <h5>What will happen if I did not receive an email notification during my passport application process?</h5>
                <!-- <p>								
                You may not receive an email notification for various reasons. Some of these reasons are:<br /><br />								
                <span style="margin-left:20px;display:block;float:left;">&check; </span><span style="display:block;margin-left:45px;">Depending on your email provider and configuration settings, the system-generated email may be incorrectly tagged as spam and delivered to your JUNK/SPAM folder. Check your spam folder for emails if no message appears in your Inbox after a considerable amount of time upon completing your online application process.</span><br />
                <span style="margin-left:20px;display:block;float:left;">&check; </span><span style="display:block;margin-left:45px;">You may have entered a wrong or invalid email address when completing your online application process. An email address may be wrong or invalid if one or more characters was entered incorrectly when compared to when you were creating your email address.</span><br />
                <span style="margin-left:20px;display:block;float:left;">&check; </span><span style="display:block;margin-left:45px;">If you are using a corporate email address, your email server may be down or non-functional which may result in you not receiving an email notification.</span><br />
                
                If you select the logout and email option during your application and you did not receive an email you may resume your application and resend your application to your email by using the resume option on the online application home page. If you still fail to receive the email notification or if you completed payment online and did not receive an email notification, please contact our customer contact centre at (876)754-PICA.
                
                </p> -->
              </li>
              <li class="ask">
                <h5>How can I cancel my application and get a refund?</h5>
                <p>
                Your online application is non-refundable except for special circumstances stipulated in our refund policy. You may view our refund policy and contact our customer care centre at (876)754-PICA for further assistance.
                </p>
              </li>
              
            </div>
            
          </ul>
        </div>
        
      </div><!---main_content-->
    </div><!-----question-->