
<div style="text-align: center">
    <h1>Welcome to the Citizenship</h1>
    <h2>Application Portal</h2>
    <h5 style="color:blue">Applicant Profile</h5>
</div>
<br/>
<div class="container-fluid">
   
<form [formGroup]="profile"  (ngSubmit)=onSubmit(profile.value) class="form-group" >

  

    <div class="row">
        <div class="col">
            <label>Last name </label> &nbsp;&nbsp;
            <input type="text" class="col-8" formControlName="lastname" placeholder="Last name" required>
          </div>
          <div class="col">
            <label>Middle name</label> &nbsp;&nbsp;
            <input type="text" class="col-8" formControlName="middlename" placeholder="Middle name">
          </div>
          <div class="col">
            <label>First name</label> &nbsp;&nbsp;
            <input type="text" class="col-8" formControlName="firstname" placeholder="First name">
          </div>
    </div>

    <div class="row">
        <div class="col-5">
            <label>Date of Birth</label>
            <input type="date" class="col-9" formControlName="dob"  placeholder="Select Date of Birth">
          </div>
          
          <div class="col-sm">
            <label>Place of Birth</label>
            <select class="col-9 selectBoxAlign" formControlName="pob" id="exampleFormControlSelect1">
               
                <option>Jamica</option>
                <option>United States</option>
                <option>Uniked Kindom</option>
                <option>India</option>
                
              </select>
          </div>
    </div>
    
    <div class="row">
        <div class="col-5">
            <label class="email-label">Email Address</label>
            <input type="text" class="col-9" formControlName="email" placeholder="Email address">
          </div>
          
          <div class="col-sm">
            <label>Telephone number</label>
            <input type="text" class="col-9" formControlName="number"  placeholder="Telephone number">
          </div>
    </div>  

    <div class="row">
      <div class="col-5">
        <label>Gender</label>
        <span class="genderAlign">
        <label>Male</label> <input type="radio" formControlName="gender" name="gender"/>&nbsp;&nbsp;
        <label>Female</label> <input type="radio" formControlName="gender" name="gender"/>
        </span>
      </div>
    </div>

    <div class="row">
        <div class="col-5">
            <label class="email-label">Address</label>
            <span class="genderAlign">
            <input type="text" class="col-9" formControlName="address" placeholder="Address">
            </span>
          </div>
    </div>  

    <div class="wrapper">
        <button type="button" class="btn btn-dark button">Cancel</button>
        <button type="submit" class="btn btn-dark button">Submit</button>
    </div>

    <div class="wrapper">
      <textarea rows="5" placeholder="Welcome to the Passport, Immigration and Citizenship Agency - Citizenship Application Portal. All Applicants are required to create a profile before proceeding to completing the required application." cols="82" disabled ></textarea>
    </div>
 </form>

  </div>

<br/><br/>


<!-- 
<div style="text-align: center">
    <h1>Welcome to the Citizenship</h1>
    <h2>Application Portal</h2>
    <h5 style="color:blue">Applicant Profile</h5>
</div>
<br/>
<div class="container-fluid">
   
<form [formGroup]='profileForm' (ngSubmit)='onSubmit(profileForm.value)' class="form-group" >
  ++{{profileForm | json }}
  <label *ngIf="profileForm.invalid" [ngClass] = "'error'"> Name is required with 10 max character. </label>

    <div class="row">
        <div class="col">
            <label>Last name </label> &nbsp;&nbsp;
            <input type="text" class="col-8" placeholder="Last name" formControlName='lname'>
          </div>
          <div class="col">
            <label>Middle name</label> &nbsp;&nbsp;
            <input type="text" class="col-8" placeholder="Middle name" formControlName='mname'>
          </div>
          <div class="col">
            <label>First name</label> &nbsp;&nbsp;
            <input type="text" class="col-8" placeholder="First name" formControlName='fname'>
          </div>
    </div>

    <div class="row">
        <div class="col-5">
            <label>Date of Birth</label>
            <input type="date" class="col-9"  placeholder="Select Date of Birth" formControlName='dob'>
          </div>
          
          <div class="col-sm">
            <label>Place of Birth</label>
            <select class="col-9 selectBoxAlign" id="exampleFormControlSelect1" formControlName='placeOfBirth'>
                <option>select</option>
                <option>Jamican</option>
                <option>United States</option>
                <option>Uniked Kindom</option>
                <option>India</option>
                
              </select>
          </div>
    </div>
    
    <div class="row">
        <div class="col-5">
            <label class="email-label">Email Address</label>
            <input type="email" class="col-9"  placeholder="Email address" formControlName='email'>
          </div>
          
          <div class="col-sm">
            <label>Telephone number</label>
            <input type="number" class="col-9"  placeholder="Telephone number" formControlName='phone'>
          </div>
    </div>  

    <div class="row">
      <div class="col-5">
        <label>Gender</label>
        <span class="genderAlign">
        <label>Male</label> <input type="radio" formControlName="gender" name="gender"/>&nbsp;&nbsp;
        <label>Female</label> <input type="radio" formControlName="gender" name="gender"/>
        </span>
      </div>
    </div>

    <div class="wrapper">
        <button type="button" class="btn btn-dark button">Cancel</button>
        <button type="submit" class="btn btn-dark button">Submit</button>
    </div>

    <div class="wrapper">
      <textarea rows="5" placeholder="Welcome to the Passport, Immigration and Citizenship Agency - Citizenship Application Portal. All Applicants are required to create a profile before proceeding to completing the required application." cols="82" ></textarea>
    </div>
 </form>

  </div>

<br/><br/> -->