<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
    <div class="header_img"><img src="assets/images/header.png"/></div>
    <div class="main_content">
      
        <div class="header_left left">
          <!-- <div class="header_logo"><img src="images/header_logo.png"/></div> -->
          </div>
          
          <div class="header_right right">
          
              <div class="header_top">
                  <div class="header_top_left left">
                      <!-- <h5>Passport, Immigration <span>and Citizenship Agency</span></h5> -->
                  </div>

                  <div class="header_top_left right">
                      <!-- <h5>ADULT PASSPORT<br>RENEWAL System</h5> -->
                  </div>
                  <div class="clear"></div>
              </div><!--header_top-->
         
            </div><!---main_content--> 
          </div><!--header_right-->
          <div class="clear"></div> 
           
          <div class="bottom_navi">
              <div class="main_content">
              
                <ul class="">
                  <li class="first" style="color:#145173;"><a href="/" class="home">Home</a></li>
                  <li class="first"  *ngIf="!loginStatus" style="color:#145173;"><a href="/login/offical" class="home">Login</a></li> 
                  <!--
          <li class="menu-325"><a href="getting-started.html" target="popup" onclick="window.open('getting-started.html','popup','width=auto,height=600'); return false;" class="begin">Getting Started</a></li>
          <li class="menu-327"><a href="about.html" target="popup" onclick="window.open('about.html','popup','width=auto,height=600'); return false;" class="about">About</a></li>
          -->
          <!-- {{loginStatus}} -->
         
          <li class="last" *ngIf="loginStatus"><a href="#" (click)='logout()' class="return"> Logout </a></li>
          <li class="last" *ngIf="loginStatus"><a class="return"> {{userName}}</a></li>
          <!-- <li class="last"><a href="http://www.pica.gov.jm" target="_blank" class="return"><span class="return_arrow">&#8658;</span> Return to PICA.GOV.JM</a></li> -->
          

        </ul>

            </div><!---main_content-->
        </div><!--bottom_navi-->                
      
  </div><!---header-->


<div class="main_content_section">
<router-outlet></router-outlet>
</div>

<!---footer-->
<div class="footer_2">
<div class="main_content">
  
    <p class="left">Copyright © <span id="thisYear"></span> - <span>PICA</span> - All Rights Reserved.</p>
      <div class="footer_2_right right">
        <ul>
            <!-- <li><a href="#">Contact Us</a></li> -->
              <li><a target="_blank" href="privacy-policy.html" >Privacy Policy</a></li>
          </ul>
      </div>
      <div class="clear"></div>
      
  </div><!---main_content-->
</div><!---footer_2-->



