.main_content{ max-width:1100px; width:96%; margin:0 auto; position:relative;}
	.header .main_content{bottom: 2%; position:absolute;left:0; right:0; width: 76.8%;}
	.main_content_section{
	min-height: calc(100vh - 262px);
	}