
h3.alien_heading{
     margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: inherit;
    font-size: 22px;
}
.Alien_Formfive .section-card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 0 30px 0 rgba(115, 77, 191, 0.2);
    border-radius: 7px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
}
.Alien_Formfive .section-card .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.Alien_Formfive .section-card.mb-nonelayer{
    margin-bottom: 1px;
    box-shadow: 0 0px 30px 0 rgba(115, 77, 191, 0.2);
}

.Alien_Formfive .section-card .card-header {
    background: none;
    padding: 0.5rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    border-left: 2px solid #02a94f;
    border-bottom: 1px solid rgba(107,122,144,0.1);
}
.Alien_Formfive .section-card .card-header .section-title{
    font-size: 1.185rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
.alien_form_inline label{
    width: 35%;
    font-size: 13px;
    vertical-align: middle;
    position: relative;
}
.alien_form_inline p{
    font-size: 12px;
    text-align: right;
    position: relative;
    color:red;
    margin-bottom: 0;
}
.alien_form_inline select{
    width: 35%;
    font-size: 13px;
    vertical-align: middle;
    position: relative;
}
.alien_form_inline label:nth-child(2):before{
    position: absolute;
    left: 0;
    top:0;
}
.alien_form_inline .form-control{
    display: inline-block;
    width: 63%;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #02a94f;
    outline: 0;
    box-shadow: 0 0 10px -1px #ccc;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #353637;
    color: #fff;
    font-size: 13px;
}
.footer span:nth-child(2){
    float: right;
    text-align: right;
}

.footer span a{
    color: #fff;
}
/* buttons style*/

.btns-bglayer{
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(115, 77, 191, 0.2);
    border-radius: 7px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 12px;
}
.btn.btn-theme {
    background: #1a9332;
    border: none;
    color: #fff;
    padding: 6px 33px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn.btn-theme:hover {
    background: #157d2a;
}
.btn-danger{
    background-color: #ec2d38;
    border-color: #ec2d38;
    color: #fff;
    padding: 6px 33px;
}
/* section 10*/

.section10_table .particular_children_block th{
    border:none;
    text-align: center;
    padding: 8px;
    font-size: 14px;
}
.section10_table .particular_children_block td{
    border:none;
    padding: 8px;
}
.section10_table .particular_children_block td:nth-child(1) input{
    width: 90%;
    display: inline-block;
}
.section10_table .particular_children_block td:nth-child(1){
    width: 580px;
    font-size:14px;
}
.section10_table .particular_children_block td:nth-child(2){
    width: 150px;
    font-size:14px;
}
.section10_table .particular_children_block td:nth-child(3){
    width: 250px;
    font-size:14px;
}
.section10_table .particular_children_block td:nth-child(4){
    width: 230px;
    
}


.form-control{
    font-size:14px;
}
.btn-danger:hover, .btn.btn-theme:hover {
    box-shadow: 0px 1px 7px -1px #333;
}


@media (max-width: 992px) {
    .header{
    min-height: 65px;
    }
    body{

    margin-bottom: 100px; 
    }
    footer{
    min-height: 100px;
    }
}