<block-ui>
<div class="container">
    <div *ngIf="showDescentForm">
    
    <h4 class="wrapper">DECENT APPLICATION FORM</h4>
    <div *ngIf='showErrorMsg' class="alert alert-danger" role="alert">
        {{showErrorMsg}}
    </div>
    
    <form [formGroup]='descentForm'  autocomplete="off">
    <div class="profileBox">
      <div class="row">
          <div class="col">
            <label>Last name<span class="glyphicon">&#x2a;</span> </label> &nbsp;&nbsp;
            <input type="text" class="col-8 " formControlName="lastname" placeholder="Last name" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" >
          </div>
          <div class="col">
            <label>Middle name</label> &nbsp;&nbsp;
            <input type="text" class="col-7" formControlName="middlename" placeholder="Middle name" >
          </div>
          <div class="col">
            <label>First name<span class="glyphicon">&#x2a;</span></label> &nbsp;&nbsp;
            <input type="text" class="col-8" formControlName="firstname" placeholder="First name" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" >
          </div>
    </div>

    <div class="row">
        <div class="col-5">
            <label>Date of Birth<span class="glyphicon">&#x2a;</span></label>
            <input type="text" bsDatepicker [bsConfig]="datePickerConfig" class="col-9" formControlName="dob"  placeholder="Select Date of Birth" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" >
          </div>
          
          <div class="col-sm">
            <label>Place of Birth<span class="glyphicon">&#x2a;</span></label>
            
            <select class="col-9 selectBoxAlign" formControlName="pob" id="exampleFormControlSelect1" [ngClass]="{ 'is-invalid': submitted && f.pob.errors }" >
                <option for="code" name="pob" *ngFor="let country of countries" [ngValue]="country.name">{{country.name }}</option>
              </select>
          </div>
    </div>
    
    <div class="row">
      <div class="col-5">
          <label class="email-label">Address<span class="glyphicon">&#x2a;</span></label>
          <input type="text" class="col-9 address" formControlName="address" placeholder="Address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
          
        </div>
        <div class="col-sm">
          <label>Telephone number<span class="glyphicon">&#x2a;</span></label>
          <input type="text" class="col-9" formControlName="number"  placeholder="Telephone number" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" >
        </div>
    </div>  

    <div class="row">
        <div class="col-5">
            <label class="email-label">Email Address<span class="glyphicon">&#x2a;</span></label>
            <input type="text" class="col-8" formControlName="email" placeholder="Email address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
          </div>
    
        <div class="col-5">
            <label>Gender<span class="glyphicon">&#x2a;</span></label>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" value='male' id="customRadioInline1" name="gender" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Male</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" value='female' id="customRadioInline2" name="gender" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Female</label>
      </div>
    </div>
  </div>
  
  
  
</div>

    <span class="wrapperHeader">
      Particulars Parents
    </span>
      <div class="boxLayout">
        <div class="box" style="border:0px">
          <span class="wrapper">Father</span>
          <div class="layout">
            <div class="row">
              <div>
                <label>Last Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' formControlName='flastname' [ngClass]="{ 'is-invalid': submitted && f.flastname.errors }" class='textAlign' name='lname' />
              </div>
              <div>
                <label>First Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' formControlName='ffirstname' [ngClass]="{ 'is-invalid': submitted && f.ffirstname.errors }" class='textAlign' name='fname' />
              </div>
            </div>
            <div class="row">
              <div>
                <label>Date of Birth<span class="glyphicon">&#x2a;</span></label>
                <input type='text' bsDatepicker  [bsConfig]="datePickerConfig" 
                
                bsDatepicker class='dateAlign' [ngClass]="{ 'is-invalid': submitted && f.fdob.errors }"
                formControlName='fdob' name='lname' autocomplete="off" />
              </div>
              <div>
                <label>Place of Birth<span class="glyphicon">&#x2a;</span></label>
                <select id="exampleFormControlSelect1" formControlName='fpob' [ngClass]="{ 'is-invalid': submitted && f.fpob.errors }">
                    <option for="code" name="pob" *ngFor="let country of countries" [ngValue]="country.name">{{country.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <span class="wrapper">Mother</span>
          <div class="layout">
            <div class="row">
              <div>
                <label>Last Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' class='textAlign' formControlName='mlastname' name='lname' [ngClass]="{ 'is-invalid': submitted && f.mlastname.errors }" />
              </div>
              <div>
                <label>First Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' class='textAlign' formControlName='mfirstname' name='lname' [ngClass]="{ 'is-invalid': submitted && f.mfirstname.errors }" />
              </div>
            </div>
            <div class="row">
              <div>
                <label>Date of Birth<span class="glyphicon">&#x2a;</span></label>
                <input type='text' bsDatepicker [bsConfig]="datePickerConfig" bsDatepicker class='dateAlign' [ngClass]="{ 'is-invalid': submitted && f.mdob.errors }"
                formControlName='mdob' name='lname' autocomplete="off" />
              </div>
              <div>
                <label>Place of Birth<span class="glyphicon">&#x2a;</span></label>
                <select id="exampleFormControlSelect1" formControlName='mpob' [ngClass]="{ 'is-invalid': submitted && f.mpob.errors }">
                    <option for="code" name="pob" *ngFor="let country of countries" [ngValue]="country.name">{{country.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>


      <span class="wrapperHeader">
        Particulars Grand Parents<br />
        <span style='font-size: 0.75rem;'>(If applicable)</span>
      </span>
      <span class="wrapper">Paternal</span>
      <span class="wrapper">Maternal</span>
      <div class="boxLayoutSmall">
        <div class="boxSmall" style='border-left:0px'>
          <div class="layout">
            <span class='wrapperBox'>Father</span>
            <div class="row">
              <div>
                <label>Last Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' name='lname' formControlName='plastname1' class='textAlignSmall' [ngClass]="{ 'is-invalid': submitted && f.plastname1.errors }" />
              </div>
              <div>
                <label>First Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' name='lname' formControlName='pfirstname1' class='textAlignSmall' [ngClass]="{ 'is-invalid': submitted && f.pfirstname1.errors }" />
              </div>
              <!-- </div>
              <div class="row"> -->
              <div>
                <label>Date of Birth<span class="glyphicon">&#x2a;</span></label>
                <input type='text' class='dateAlignGrandParents' bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{ 'is-invalid': submitted && f.pdob1.errors }"
                bsDatepicker formControlName='pdob1' name='lname' autocomplete="off" />
              </div>
              <div>
                <label>Place of Birth<span class="glyphicon">&#x2a;</span></label>
                <select class='dropDown' formControlName='ppob1' id="exampleFormControlSelect1" [ngClass]="{ 'is-invalid': submitted && f.ppob1.errors }">
                    <option for="code" name="pob" *ngFor="let country of countries" [ngValue]="country.name">{{country.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="boxSmall">
          <!-- <span class="wrapper">Father</span> -->
          <div class="layout">
            <span class='wrapperBox'>Mother</span>
            <div class="row">
              <div>
                <label>Last Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' name='lname' formControlName='plastname2' class='textAlignSmall' [ngClass]="{ 'is-invalid': submitted && f.plastname2.errors }" />
              </div>
              <div>
                <label>First Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' name='lname' formControlName='pfirstname2' class='textAlignSmall'  [ngClass]="{ 'is-invalid': submitted && f.pfirstname2.errors }"/>
              </div>
              <!-- </div>
              <div class="row"> -->
              <div>
                <label>Date of Birth<span class="glyphicon">&#x2a;</span></label>
                <input type='text' class='dateAlignGrandParents' bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{ 'is-invalid': submitted && f.pdob2.errors }"
                bsDatepicker name='lname' formControlName='pdob2' autocomplete="off" />
              </div>
              <div>
                <label>Place of Birth<span class="glyphicon">&#x2a;</span></label>
                <select class='dropDown' id="exampleFormControlSelect1" formControlName='ppob2' [ngClass]="{ 'is-invalid': submitted && f.ppob2.errors }">
                    <option for="code" name="pob" *ngFor="let country of countries" [ngValue]="country.name">{{country.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="boxSmall">
          <!-- <span class="wrapper">Father</span> -->
          <div class="layout">
            <span class='wrapperBox'>Father</span>
            <div class="row">
              <div>
                <label>Last Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' name='lname' formControlName='mlastname1' [ngClass]="{ 'is-invalid': submitted && f.mlastname1.errors }" class='textAlignSmall' />
              </div>
              <div>
                <label>First Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' name='lname' formControlName='mfirstname1' class='textAlignSmall' [ngClass]="{ 'is-invalid': submitted && f.mfirstname1.errors }" />
              </div>
              <!-- </div>
              <div class="row"> -->
              <div>
                <label>Date of Birth<span class="glyphicon">&#x2a;</span></label>
                <input type='text' class='textAlignSmallPaternal' bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{ 'is-invalid': submitted && f.mdob1.errors }"
                bsDatepicker name='lname' formControlName='mdob1'  autocomplete="off" />
              </div>
              <div>
                <label>Place of Birth<span class="glyphicon">&#x2a;</span></label>
                <select class='dropDown' formControlName='mpob1' id="exampleFormControlSelect1" [ngClass]="{ 'is-invalid': submitted && f.mpob1.errors }">
                    <option for="code" name="pob" *ngFor="let country of countries" [ngValue]="country.name">{{country.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="boxSmall">
          <!-- <span class="wrapper">Mother</span> -->
          <div class="layout">
            <span class='wrapperBox'>Mother</span>
            <div class="row">
              <div>
                <label>Last Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' class='textAlignSmall' formControlName='mlastname2' name='lname' [ngClass]="{ 'is-invalid': submitted && f.mlastname2.errors }" />
              </div>
              <div>
                <label>First Name<span class="glyphicon">&#x2a;</span></label>
                <input type='text' class='textAlignSmall' formControlName='mfirstname2' name='lname'  [ngClass]="{ 'is-invalid': submitted && f.mfirstname2.errors }"/>
              </div>
              <!-- </div>
              <div class="row"> -->
              <div>
                <label>Date of Birth<span class="glyphicon">&#x2a;</span></label>
                <input type='text' class='dateAlignGrandParents' bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{ 'is-invalid': submitted && f.mdob2.errors }"
                bsDatepicker name='lname' formControlName='mdob2' autocomplete="off" />
              </div>
              <div>
                <label>Place of Birth<span class="glyphicon">&#x2a;</span></label>
                <select class='dropDown' formControlName='mpob2' id="exampleFormControlSelect1" [ngClass]="{ 'is-invalid': submitted && f.mpob2.errors }">
                    <option for="code" name="pob" *ngFor="let country of countries" [ngValue]="country.name">{{country.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class='buttonAlign'>
            <button (click)='onSave(descentForm.value)' type="button" class="btn btn-light">Save</button>&nbsp;&nbsp;
            <button (click)='onSubmit(descentForm.value)' type="button" class="btn btn-light">Continue</button>
          </div>
    </form>
  </div>

  
  <div class='container' *ngIf='showDocumentUpload'>

  <div class="documentBox">
    <span class='documentTitle'>To complete the application process the following documents must be scanned and uploaded : </span>
    <ol class='counter-increment' type="i">
      <li>(i)the applicant 's Birth Certificate;</li>
      <li>(ii) the applicant's father's or mother's Birth Certficate or Certificate of Jamaica Citizenship or Adoption
        Certificate issued by the Registrar General Dept.</li>
      <li>(iii) Two (2) passport sized pictures of the applicant certified by either a Justice of the Peace, Commissioner of
        Oaths, Notary Public , Lawyer or Doctor.</li>
      (the applicant's name along with the name, number and signature of the certifying officer and the certfication
      date no older of than 6 months should be included).
      <li> (iv)Marriage Certificate (if applicable);</li>
      <li>(v) Applicant's valid ID ( if adult 18 years and olders);</li>
      <li>(vi) Jamaican parent's government issued ID ( Valid Passport or Driver's Licence), if applicant is a minor;</li>
      <li>(vii) Court issued document evidencing Legal Guardianship where applicable;</li>
      <li>(viii) Official Change of Name Document ( Court Order, Deed Polls registered through the court or the country's
        records office, etc) where applicable.</li>
        the process of the application
      </ol>
      <span class='documentNote'>All documents must be originals. PICA reserves the right to request additional and/or updated information during</span>

  </div>
  <div *ngIf="message" class="alert alert-danger" role="alert">
     {{message}}
    </div>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()" autocomplete="off">
  <div class="row">
  <div class='documentUploadButton'>
      <mat-card>
            <mat-card-content>
            
              <div class="drop-zone" style='text-align: -webkit-center;'>
                  <div ng2FileDrop [uploader]="uploader" class="drop-zone">
                <span class="documentLable">Upload File</span>
                <br/><br/>
                       Drag and drop files to upload<br/>
                       <span style='font-size:13px;'> Or</span><br/>
                       <input class='btn' style='padding-left:8px;font-size: 14px;' formControlName="document" type="file" ng2FileSelect accept=".png,.jpg,.pdf" [uploader]="uploader" multiple/>
                       <span styel='font-size:3px;'>supports (pdf,jpg and png)</span><br/>
                       <button   class="btn uploadButton"  mat-raised-button color="accent"  type="submit">Upload Data</button>                 
                      </div>
              </div>
             
              <br>
            </mat-card-content>
          </mat-card>
          
        </div>
        
        <div class='documentUpload'>
          <table>
            <thead>
              <tr>
                <th width="90%">
                  File Name
                </th>
                <th width="10%">
                  Remove
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <th width="90%">
                  {{ item.file.name}}({{item.file.size/1000000}} MB)
                </th>
                <th class="text-center" width="10%">
                  <mat-icon (click)="item.remove()" style='color:blue;cursor: pointer;'>delete</mat-icon>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <button  mat-raised-button color="accent" [disabled]="!uploadForm.valid" type="submit">Upload Data</button> -->
      </div>
    </form>
  </div>

  <div *ngIf='applicationCode>0'>
   
       
    <div class='continue'> 
      <br/><br/><br/>
      <pre>
        You have successfully uploaded your application and supporting documents.  

        Thank you for submitting an application for Citizenship by Descent. 
        Your application number is {{applicationCode}} which may be used to track the progress of your application.<br/> Your application and supporting document will be reviewed and an email update provided to you within
        5 working days. This email will outline the status of your application  
    </pre>
      <br/>
      <button type="button" (click)="home()" class="btn btn-light">Continue</button>
    </div>
  </div>

</div>
</block-ui>