<block-ui>
<div class='container'>
<h2 mat-dialog-title> <i class="fa fa-lock fa-4x"></i> Forgot Password</h2>

<mat-dialog-content>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
        {{successMessage}}
    </div>
<div class='row'>
<label>Enter Email address</label>
<input type='email' #email/>
<!-- <input type='button' (click)='validateEmail(email.value)' value='Send'/>  -->
</div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn" (click)="validateEmail(email.value)">Send</button>&nbsp;&nbsp;
    <button class="btn" (click)="close()">Close</button>
</mat-dialog-actions>
</div>
</block-ui>