@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';

.mat-dialog-actions {
    float: right;
}

button.btn{
    background-color: #eeeff1;
    margin-right: -15px;
    margin-left: 13px;
}
.fa-4x {
    font-size: 1em;
}

input{
height: 26px;
margin-left: 8px;
}

.mat-dialog-title {
    margin-left: -15px;
  }

  .mat-dialog-container {
    padding-top: 0 !important;
}

dialog-overview-example-dialog.ng-star-inserted > div {
    margin-right: -24px;
    margin-left: -24px;
}

.mat-dialog-actions {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
