.badge-primary {
    color: #fff;
    background-color: #a5aaaf;
    margin: 21px 3px 0px 0px;
}
div.wrapper{
    width: 200px;
    height: 200px;
    border:1px solid black;
}

a.badge-primary:focus, a.badge-primary:hover {
    color: #fff;
    background-color: #9da3ab;
}


div.loginType {
        border: 2px solid gray;
        padding: 5px;
        margin-bottom: 6px;
    }
input[type='radio']{
    margin-right: 5px;
}


.img-fluid {
    max-width: 100% !important;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}

/** Login 12 start **/
.login-12{
    top: 0;
    width: 100%;
    bottom: 0;
    min-height: 100vh;
    z-index: 999;
    opacity: 1;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
   
}

.login-12 .login-inner-form {
    color: #272323;
    text-align: center;
}

.login-12 .col-pad-0{
    padding: 0;
}

.login-12 .login-inner-form .details p.btm_line{
    color: #403838;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}
.login-12 .login-inner-form .details p.btm_line a:nth-child(1){
    float: right;
}

.login-12 .login-inner-form .details p a{
    margin-left: 3px;
    color: #403838;
}

.login-12 .login-inner-form .details p{
    margin-bottom: 0;
}

.login-12 .login-inner-form .details {
    padding:30px 0 30px 60px;
}

.login-12 .bg-img {
    background-size: cover;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    padding: 40px 20px;
    background: #1a9332;
    margin: 30px 0;
    right: -60px;
    z-index: 999;
}

.login-box-12 {
margin: 0 ;
    max-width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.04) url(../../assets/images/bg-image.jpg) top left repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    opacity: 1;
    text-align: center;
}

.login-12 .btn-outline {
    border-radius: 3px;
    padding: 6px 30px 6px 30px;
    color: #ff574d;
    background: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

.login-12 .none-2{
    display: none;
}

.login-12 .btn-outline:hover{
    background: #ecebeb;
    text-decoration: none;
}

.login-12 .login-inner-form h3 {
    margin: 0 0 25px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #272323;
}

.login-12 .login-inner-form .form-group {
    margin-bottom: 20px;
}

.login-12 .login-inner-form .input-text {
    outline: none;
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    outline: 0;
    font-weight: 500;
    color: #717171;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

.login-12 .login-inner-form .btn-md {
    cursor: pointer;
    padding: 10px 50px 8px 50px;
    height: 45px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
}

.login-12 .bg-img .social-list li {
    display: inline-block;
    font-size: 16px;
}

.login-12 .bg-img .logo{
    height: 30px;
    margin-bottom: 20px;
}

.login-12 .bg-img p{
    font-size: 13px;
    color: #fff;
        margin-bottom: 0;
    text-align: justify;
}

.login-12 .bg-img .btn-sm{
    padding: 6px 20px 6px 20px;
    font-size: 13px;
}

.login-12 .bg-img .social-list{
    margin-top: 35px;
    padding: 0;
}

.login-12 .bg-img .social-list li a {
    margin: 0 5px;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
}

.login-12 .bg-img .social-list li a:hover{
    color: #ecebeb;
}

.login-12 .login-inner-form input[type=checkbox], input[type=radio] {
    margin-right: 3px;
}

.login-12 .login-inner-form button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.login-12 .login-inner-form .btn-theme.focus, .btn-theme:focus {
    box-shadow: none;
}

.login-12 .login-inner-form .btn-theme {
    background:#1a9332;
    border: none;
    color: #fff;
}

.login-12 .login-inner-form .btn-theme:hover {
    background: #333;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.login-12 .login-inner-form .terms{
    margin-left: 3px;
}

.login-12 .login-inner-form .checkbox {
    margin-bottom: 20px;
    font-size: 14px;
}

.login-12 .login-inner-form .form-check{
    float: left;
    margin-bottom: 0;
}

.login-12 .login-inner-form .form-check a {
    color: #717171;
    float: right;
}

.login-12 .login-inner-form .form-check-input {
    position: absolute;
    margin-left: 0;
}

.login-12 .login-inner-form .form-check.checkbox-theme label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: -25px;
    border: 1px solid #c5c3c3;
    border-radius: 3px;
    background-color: #fff;
}

.login-12 .login-inner-form .form-check-label {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 14px;
    color: #403838;
}

.login-12 .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #1a9332;
    border-color: #1a9332;
}

.login-12 .login-inner-form input[type=checkbox]:checked + label:before {
    font-weight: 300;
    color: #f3f3f3;
    line-height: 15px;
    font-size: 14px;
    content: "\2713";
}

.login-12 .login-inner-form input[type=checkbox], input[type=radio] {
    margin-top: 4px;
}

.login-12 .login-inner-form .checkbox a {
    font-size: 14px;
    color: #403838;
    float: right;
}
.p-l-0{
    padding-left: 0;
}

/** MEDIA **/
@media (max-width: 992px) {
    .login-12 .none-992{
        display: none;
    }

    .login-12 .pad-0{
        padding: 0;
    }

    .login-12 .login-box-12 {
        margin: 0 auto;
        max-width: 400px;
    }

    .login-12 .login-inner-form .details {
        padding: 30px;
    }
}
/** Login 11 end **/

/** MEDIA **/
@media (max-width: 1200px) {  }

@media (max-width: 992px) {  }

@media (max-width: 768px) {  }

@media (max-width: 580px) {  }

@media (min-width: 991px) {  }

@media (min-width: 991px) and (max-width: 1200px) {  }