<br/><br/>
<div class="shedule-12">
  <div class="container">
      <div class="col-md-12 pad-0">

          <h3 class="text-center">Schedule Appointment</h3>
          <div class="row shedule-box-12">
              <div class="col-md-12">
              </div>
              <div class="col-md-12 ">
                  <h5 class="text-center">Terms and Conditions</h5>
                  <p class="text-left">This appointment and scheduling system allocates slot based on a first come, first serve basis. Limited slots available and therefore does not guarantee availability upon first selection.</p>
                  <p class="text-left">The user accepts the resposibility  of supplying , checking and verifying the accuracy of the information that is provided on this platform in connection to thier application, and consent to the collection and use of thier personal information and biometic data for Government to conduct checks and validation against existing records.</p>
                  <div class="shedule-inner-form">
                      <div class="form-check checkbox-theme p-l-0 text-left ">
                          <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                          <label class="form-check-label" for="rememberMe">
                             I have read and  understood the instructions and information on this page, and agree to Terms and Conditions on the use of this online appointment and scheduling system
                         </label>
                     </div>
                     <br/><br/><br/><br/>
                     <div class="">
                      <button type="button" (click)="individualForm()" class="btn btn-theme mx-1 my-3"><span><i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>Start Individual Appointment</button>
                      <button type="button" (click)="groupForm()" class="btn btn-theme mx-1 my-3"><span><i class="fa fa-users" aria-hidden="true"></i>&nbsp;</span>Start Group Appointment</button>
                      </div>
                      
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</div>

<br/><br/><br/>