.wrapper1 {
    width: 1000px;
    height: 530px;
    background: #eff0f2;
    border: 1px solid black;
    padding: 38px 38px 0px 38px;
    margin-bottom: 120px;

}

button.btn{
    background-color: #eeeff1;
    float: right;
    border: 1px solid black;
    margin-left: 13px;
}