<div >
  <section>
    <div class="container">
      <div class="header-tag text-center">
        <h2 class="m-4">Document Upload</h2>
      </div>
      <form>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="sr-only" for="inlineFormInputGroup">Sam James</label>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <h5>Application #</h5>
                </div>
                <div class="input-group-text formId">
                  {{naturalizationFormSessoin.id}}
                </div>
              </div>
              <!-- <span class='formId'>{{naturalizationFormSessoin.id}}</span> -->
              <!-- <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="123456" disabled> -->
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="sr-only" for="inlineFormInputGroup">Sam James</label>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <h5>Date Submitted</h5>
                </div>
                <div class="input-group-text formId">
                  <span class='formId'>{{naturalizationFormSessoin.appliedDate}}</span>
                </div>
              </div>
              <!-- <span class='formId'>{{naturalizationFormSessoin.appliedDate}}</span> -->
              <!-- <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="05/07/2019" disabled> -->
            </div>
          </div>
        </div>
      </form>



      <div class="document-block">

        <div id="lightgallery">
          <div>
            <a target='_bank' *ngFor='let document of naturalizationFormSessoin.documents' href="{{document.filePath}}">
              <img src="{{document.filePath}}" />
              <p class="w-50">{{document.fileName}}</p>
            </a>
          </div>
        </div>

        <div class="document_btns text-right">
          <button *ngIf="loginType==='localdeskclerk'" type="button" class="clr-btn style-btn" style='width:150px;' (click)="updateStatus('cs')" >Refer for Approval</button>
          <button *ngIf="loginType==='deskClerk'" type="button" class="clr-btn style-btn" style='width:300px;' (click)="updateStatus('pas')" >Process Scheduled Appointment</button>
          <button *ngIf="loginType==='agentView'" type="button" class="clr-btn style-btn" style='width:150px;' (click)="updateStatus('om')" >Refer for Approval</button>
          <button *ngIf="loginType==='operationsmanager'" type="button" class="clr-btn style-btn" style='width:150px;' (click)="updateStatus('director')" >Refer for Approval</button>
          <!-- <button *ngIf="loginType==='director' && (formType==='nacw' || formType === 'NACW')"  type="button" class="clr-btn style-btn" style='width:150px;' (click)="updateStatus('ceo')" >Refer for Approval</button>
           -->
          <button *ngIf="loginType==='director'"  type="button" 
          class="clr-btn style-btn" style='width:150px;' (click)="updateStatus('director')" >Complete</button>
         
          <button *ngIf="loginType==='ceo'"  type="button" class="clr-btn style-btn" style='width:150px;' (click)="updateStatus('permanentsecretary')" >Refer for Approval</button>
         <button *ngIf="loginType==='permanentsecretary'"  type="button" class="clr-btn style-btn" style='width:150px;' (click)="updateStatus('completed')" >Approved</button>

         <button type="button" class="clr-btn style-btn" (click)="incomplete()">Incomplete</button>
          <!-- <button type="button" class="clr-btn style-btn" (click)="refer('refer')">Refer</button> -->
          <button type="button" class="clr-btn style-btn" (click)="nextClick('next')">Next</button>
        </div>

      </div>






    </div>
  </section>

</div>
