
h3.Woman_Mrg_heading{
   margin-bottom: .5rem;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.5;
   color: #000000;
   font-size: 22px;
}
.Woman_Mrg_Formone .section-card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 0 30px 0 rgba(115, 77, 191, 0.2);
    border-radius: 7px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    color:#000000;
}
.Woman_Mrg_Formone .section-card .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.Woman_Mrg_Formone .section-card.mb-nonelayer{
    margin-bottom: 1px;
    box-shadow: 0 0px 30px 0 rgba(115, 77, 191, 0.2);
}

.Woman_Mrg_Formone .section-card .card-header {
    background: none;
    padding: 0.5rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    border-left: 2px solid #02a94f;
    border-bottom: 1px solid rgba(107,122,144,0.1);
}
.Woman_Mrg_Formone .section-card .card-header .section-title{
    font-size: 1.185rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
.woman_form_inline label{
    width: 35%;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
}
.woman_form_inline p{
    font-size: 12px;
    text-align: right;
    position: relative;
    color:#ec2d38;
    margin-bottom: 0;
    padding-right: 8px;
}
.woman_form_inline.txt-box p{
    font-size: 12px;
    text-align: right;
    position: relative;
    color:#ec2d38;
    margin-bottom: 0;
    padding-right: 8px;
    top:-8px;
}
.woman_form_inline select{
    width: 35%;
    font-size: 13px;
    vertical-align: middle;
    position: relative;
}
.woman_form_inline label:nth-child(2):before{
    position: absolute;
    left: 0;
    top:0;
}
.woman_form_inline .form-control{
    display: inline-block;
    width: 63%;
    font-size:14px;
    color:#000000;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #02a94f;
    outline: 0;
    box-shadow: 0 0 10px -1px #ccc;
}

.woman_check_inline label{
    width: 100%;
    min-width: 75px;
}
.border{
    width: 96%;
    margin: auto;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #353637;
    color: #fff;
    font-size: 13px;
}
.footer span:nth-child(2){
    float: right;
    text-align: right;
}

.footer span a{
    color: #fff;
}


.gender-block .form-check-input {
    position: absolute;
    margin-left: 0;
}

.gender-block.form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: -25px;
    border: 1px solid #c5c3c3;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 3px;
}

.gender-block .form-check-label {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.gender-block.checkbox-theme input[type="radio"]:checked + label::before {
    background-color: #1a9332;
    border-color: #1a9332;
}

.gender-block input[type=radio]:checked + label:before {
    font-weight: 300;
    color: #f3f3f3;
    line-height: 15px;
    font-size: 14px;
    content: "\2713";
    padding-left: 2px;
}

.gender-block  input[type=radio]{
    margin-top: 4px;
}
select{
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    /* background: url(../img/down.png) no-repeat right; */
    -webkit-appearance: none;
    background-position-x: 97%;
    background-size: 17px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    /*display: block;*/
    /* background: url(../img/cal.png) no-repeat; */
    width: 20px;
    height: 20px;
    background-size: 20px 19px;
    background-position-x: 97%;
}
@media (max-width: 992px) {
    .header{
        min-height: 65px;
    }
    body{

        margin-bottom: 100px; 
    }
    footer{
        min-height: 100px;
    }
}