<div class="">
  <div class="container">
      <div class=" pad-0">

          <div class="row">
              <div class="col-lg-3 col-sm-6 text-left SCA-left_box">
                  <!-- <h5  class="SCA_side_menu ">Menu Options</h5> -->
                  <a href="#" class="SCA_side_menu">Cancel Appointment</a>
                  <a href="#" class="SCA_side_menu">Reschedule Appointment</a>
                  <a href="#" class="SCA_side_menu">Update Profile</a>
                  <a href="#">Logout</a>
              </div>
              <div class="col-lg-9 col-sm-12 SCA-right_box">
                  <div class="row">
                      <div class="col-lg-12 text-center SCA_title"> <h3>Schedule Citizenship Appointment</h3>
                          <p>Applicants for citizenship are required to appear in person at the Passport Immigration and Citizenship Agency office.</p>
                      </div>
                      <div class="col-lg-5 col-sm-12 text-left my-3">
                          <div class="SCA_dropdown">
                              <select class="form-control">
                                  <option value="" selected>Select the number of applicants</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-lg-7 col-sm-12 text-right  avilable_block my-3">
                          <button class="btn btn-shows"></button><span>Avilable</span>
                          <button class="btn btn-shows Fill-btn"></button><span>Fill</span>
                      </div>
                      <div class="col-lg-4 col-sm-12"><div class="calendarpresent"></div>
                  </div>
                  <div class="col-lg-4 col-sm-12"><div class="calendarnext"></div>
              </div>
              <!-- <div class="col-lg-4 col-sm-12"><div class="calendar_afternext"></div> -->
              <div class="col-lg-4 col-sm-12"><div class="calendarafternext"></div>                    
          </div>
          
          <div class="col-lg-12 col-sm-12 my-3">
              <div class="table-responsive">
                  <table class="table  SCA_table table-hover">

                      <tr class="bg-dark text-light">
                          <th>Select</th>
                          <th>Time</th>
                          <th>Date</th>
                          <th>Available</th>
                      </tr>
                      <tbody>
                          <tr>
                              <td>
                                  <input class="form-check-input checkbox" type="checkbox" value="" id="rememberMe"></td>
                                  <span></span>
                                  <td>10:00 am</td>
                                  <td>Thursday, July 26 2019</td>
                                  <td>15</td>
                              </tr>
                              <tr>
                                  <td>
                                      <input class="form-check-input checkbox" type="checkbox" value="" id="rememberMe"></td>
                                      <span></span>
                                      <td>12:00 pm</td>
                                      <td>Thursday, July 26 2019</td>
                                      <td>10</td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <input class="form-check-input checkbox" type="checkbox" value="" id="rememberMe"></td>
                                          <span></span>
                                          <td>02:00 pm</td>
                                          <td>Thursday, July 26 2019</td>
                                          <td>10</td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <input class="form-check-input checkbox" type="checkbox" value="" id="rememberMe"></td>
                                              <span></span>
                                              <td>08:00 am</td>
                                              <td>Thursday, July 26 2019</td>
                                              <td>15</td>
                                          </tr>
                                      </tbody>                                
                                  </table>



                              </div>

                          </div>
                          <div class="col-lg-12 col-sm-12 text-right">
                              <button class="btn btn-theme mx-1 my-3">Back</button>
                              <button class="btn btn-theme mx-1 my-3">Next</button>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>

</div>