<div class="">
    <div class="container">
        <div class="col-md-12 pad-0">
            <div class="row appointment-c-box-12">
                <div class="col-md-12">
                </div>
                <div class="col-md-12 text-left appointment_c_para">
                    <p class="text-left">Your date of appointment has been<span> confirmed for {{date}} at {{time}}.</span>  At the interview you are required to provide the originals of the following documents:</p>

                    <ul class="appointment_con_list">
                        <li>The birth certificate of your great grandmother/great grandfather;</li>
                        <li>The birth certificate of your grandmother/grandfather;</li>
                        <li>The birth certificate of your father/mother;</li>
                        <li>Your birth certificate;</li>
                        <li>Your valid photograph identification</li>
                        <li>Two passport sized photographs of yourself; one photograph should be certified;</li>
                        <li>The processing fee of $10,000.00.</li>
                    </ul>
                    <p><strong>Notification has been sent to your email.</strong></p>

                </div>
                <div class="col-md-12">
                    <button  class="btn btn-theme mx-1 my-3">Home</button>
                    <button  class="btn btn-theme mx-1 my-3">Logout</button>
                </div>                
            </div>
        </div>
    </div>
</div>

<br/><br/>