<block-ui>
    <div class='container'>
    <h2 mat-dialog-title> <i class="far fa-save"></i> Saved Successfully</h2>
    
    <mat-dialog-content>
       
    <div class='row'>
    <label>Your Descent Application Form data is saved, but not submitted<br/>
    If you want to submit, please click on continue form
    </label>
    
    </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
       
        <button class="btn" (click)="close()">Close</button>
    </mat-dialog-actions>
    </div>
    </block-ui>