@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* body{
    background: #f2f2f2;
    font-family: 'Josefin Sans', sans-serif;
} */

/* h3{
     font-family: 'Josefin Sans', sans-serif;
} */

.box{
    padding:10px 0px;
    /* border: 3px solid grey; */
}

.box-part{
    background:#FFF;
    border-radius:10px;
    padding:3px 10px;
    margin:11px 0px;
    border: 2px solid black;
    height: auto;
    /* overflow: scroll; */
}

.box-part:hover{
    background:#4183D7;
    cursor: pointer;
}


.box-part:hover .fa , 
.box-part:hover .title , 
.box-part:hover .text ,
.box-part:hover a{
    color:#FFF;
    
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

/* .text{
    margin:20px 0px;
} */

/* .fa{
     color:#4183D7;
} */