.wrapper1 {
    width: 1000px;
    height: 400px;
    border: 1px solid black;
    padding: 38px 38px 0px 38px;
    margin-bottom: 120px;

}

button.btn{
    background-color: #eeeff1;
    float: right;
   
    margin-left: 13px;
}