/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";


.hint-text {
    color: #ec2d38;
    font-size: 12px;
}
.bm-1 {
    border: 1px solid #ccc;
    width: 98%;
    margin-bottom: 10px !important;
    margin: auto;
}
.btn.btn-theme {
    background: #1a9332;
    border: none;
    color: #fff;
    padding: 6px 33px;
    margin-left:5px;
 }
 .btn-danger {
    background-color: #ec2d38;
    border-color: #ec2d38;
    color: #fff;
}
.btn.btn-theme:hover {
    background: #157d2a;
    box-shadow: 0px 1px 7px -1px #333;
    color: #fff;
}
.btn-danger:hover {
    box-shadow: 0px 1px 7px -1px #333;
    color: #fff;
}
.glyphicon{
    color: red;
}

.section-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 0 30px 0 rgba(115, 77, 191, 0.2);
    border-radius: 7px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 14px;
    color: #000000;
}

