h3.alien_head{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 22px;
}
.Alien_formsix .section-card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 0 30px 0 rgba(115, 77, 191, 0.2);
    border-radius: 7px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
}
.Alien_formsix .section-card.mb-nonelayer{
    margin-bottom: 1px;
    box-shadow: 0 0px 30px 0 rgba(115, 77, 191, 0.2);
}
.Alien_formsix .section-card .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.Alien_formsix .section-card .card-header {
    background: none;
    padding: 0.5rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    border-left: 2px solid #02a94f;
    border-bottom: 1px solid rgba(107,122,144,0.1);
}
.Alien_formsix .section-card .card-header .section-title{
    font-size: 1.185rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
.btn.btn-theme {
    background: #1a9332;
    border: none;
    color: #fff;
    padding: 6px 33px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn.btn-theme:hover {
    background: #157d2a;
    box-shadow: 0px 1px 7px -1px #333;
}
.btn-danger{
    background-color: #ec2d38;
    border-color: #ec2d38;
    color: #fff;
    padding: 6px 33px;
}
.form-group .form-control{
    font-size: 14px;
}
.btns-bglayer{
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(115, 77, 191, 0.2);
    border-radius: 7px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 12px;
}
.scanned-documents-block li{
    list-style: upper-roman;
}
.hint-text{
    color: #ec2d38;
    font-size: 12px;
}

/*==============drag and drop css=============*/
.files input {
    outline: 1px dashed #1a9332;
    outline-offset: -6px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    box-shadow: 0px 0px 15px -12px #333;
}
.files input:focus{     
    outline: 1px dashed #1a9332;
    outline-offset: -6px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/svg/126/126494.svg);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #05a54d;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
/*==============drag and drop css=============*/
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #1a9333;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #1c9234;
}

.documents-stauts label{
    width: 100%;
    display: block;
}
.documents-stauts label img{
    width: 40px;
}
.documents-stauts .progress{
    margin-top: 10px;
}
.progress {
  overflow: visible;
  margin-bottom: 26px;
  height: 5px;
}
.progress .progress-bar {
  background-color: #5c4084;
  position: relative;
  border-radius: 4px;
}
.progress .progress-bar span {
  background-color: #1a9332;
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 3px 2px 4px;
  right: -1.4em;
  border-radius: 2px;
  box-shadow: 0 3px 10px -3px #333
}
.progress .progress-bar span:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #1a9332;
  border-width: 5px;
  margin-left: -5px;
}
.form-control:focus{
    box-shadow: none;
}
/*=======check box css=======*/
.declaration_block .form-check-input {
    position: absolute;
    margin-left: 0;
}

.declaration_block .form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: -25px;
    border: 1px solid #c5c3c3;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 3px;
}

.declaration_block  .form-check-label {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.declaration_block  .checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #1a9332;
    border-color: #1a9332;
}

.declaration_block input[type=checkbox]:checked + label:before {
    font-weight: 300;
    color: #f3f3f3;
    line-height: 15px;
    font-size: 14px;
    content: "\2713";
    padding-left: 2px;
}

.declaration_block  input[type=checkbox]{
    margin-top: 4px;
}
/*=======check box css=======*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #353637;
    color: #fff;
    font-size: 13px;
}
.footer span:nth-child(2){
    float: right;
    text-align: right;
}

.footer span a{
    color: #fff;
}



@media (max-width: 992px) {
    .header{
    min-height: 65px;
    }
    body{

    margin-bottom: 100px; 
    }
    footer{
    min-height: 100px;
    }
}

.scanned-documents-block{
    padding-left: 20px;
}

table{
    width: 100%;
}

table th .mat-icon{
    width: auto;
}

.accept{
    position: absolute;
    left: 0px;
}

.declaration_block{
    padding-top: 10px;
}